body {
    padding: 50px;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.svg {
    width: 400px;
    height: 300px;
    border: 1px solid #000000;
    margin-bottom: 50px;
}

.text {
    font-size: 24;
    fill: #000;
}

.svg-text {
    overflow: visible;
}

.rect {
    stroke: brown;
    stroke-width: 10px;
    fill: none;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    transition: all 1s ease-in-out;
}

.svg-rect:hover .rect,
.svg-circle:hover .circle {
    stroke-dashoffset: 0;
}

.circle {
    transition: all 1s ease-in-out;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
}

.image {

}

